/* Set font */
* {
    font-family: Arial, sans-serif;
}

.my-width-container {
    width: 90%;
    margin: 0 auto;
    padding: 3rem 0;
}

.my-bg-gray {
    background-color: #333333;
}



/* HEADER */
.my-sony-logo-header {
    height: 20px;
}

.my-font-nav {
    font-family: Helvetica, sans-serif;
}



/* JUMBO */
.my-bg-jumbo {
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.my-bg-returnal {
    background-image: url(../img/jumbo-bg.png);
}

.my-bg-it-takes-two {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.my-pt-jumbo {
    padding-top: 300px;
}

.my-returnal-jumbo {
    width: 60%;
}


.my-rounded-img {
    border-radius: 1rem;
}

.my-p {
    font-size: 1.3rem;
    color: #646464;
}

.my-btn-width {
    width: 220px;
}

/* Bg playstation plus section */
.my-bg-play-plus {
    background-color: #bebcbb;
}

.my-btn-plus {
    background-color: #cccbcb;
}



/* MEDIA queries */
@media screen and (max-width: 992px) {
    .my-returnal-jumbo {
        width: 80%;
    }
}